@import "tailwindcss";
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));



@layer utilities {
  .clip-reveal {
    animation: clipReveal 0.6s ease-in-out forwards;
  }

  @keyframes clipReveal {
    0% {
      clip-path: circle(0% at 100% 0%);
    }
    100% {
      clip-path: circle(150% at 100% 0%);
    }
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 6px;
}

.color-empty {
  fill: #e5e7eb; 
}
.color-scale-2 {
  fill: #60a5fa; 
}
.color-scale-3 {
  fill: #3b82f6; 
}
.color-scale-4 {
  fill: #1d4ed8; 
}

