@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));



@layer utilities {
  .clip-reveal {
    animation: clipReveal 0.6s ease-in-out forwards;
  }

  @keyframes clipReveal {
    0% {
      clip-path: circle(0% at 100% 0%);
    }
    100% {
      clip-path: circle(150% at 100% 0%);
    }
  }
}

